name: Upload Python Package

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'           # Push events to every version tag

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Install uv
      uses: astral-sh/setup-uv@v6.7.0
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"
        version: "0.8.20"

    - name: Install dependencies & guild
      shell: bash
      run: uv sync && uv build

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
