name: Run tests

on:
  push:
    branches: [ main ]
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  test:
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
        os:
          - ubuntu-22.04
          - windows-latest

    runs-on: ${{ matrix.os }}

    name: Python ${{ matrix.python-version }} test on ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv
        uses: astral-sh/setup-uv@v6.7.0
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
          version: "0.8.20"

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Run tests
        run: uv run pytest
